<h2 class="text-center">latestgram</h2>

<p><a href="/">トップに戻る</a></p>
<p><%= flash[:notice] %></p>
<div class="bg-dark">
<br>
	<div class="container">
		<div class="card mb-4 shadow-sm">

			<p>投稿者名: <%= @result['name'] %> 投稿日時: <%= @result['created_at'] %> </p>
			<p><img class="card-img-top" src="/image/<%=@result['user_id']%>/<%= @result['image'] %>" width="400"></p>
			<div class="card-body">
				<p><%= @result['contents']%></p>
				<p><a href="/good/<%= @result['id']%>">いいね</a> <%= @result['good']%></p>
				<p>コメント</p>

				<% @comments.each do |row| %>
				<hr />
				<p>投稿者名: <%= row['name'] %> 投稿日時: <%= row['created_at'] %></p>
				<p><%= row['contents'] %></p>

				<% end %>

				<hr />

				コメントの投稿
				<form action="submit" method="POST">
						<input type="text" name="comment" size="40" maxlength="60">
						<input type="hidden" name="id" value="<%=@result['id']%>">
						<input type="submit" value="コメントする">
				</form>
			</div>
		</div>
	</div>
	<br>
</div>