<h2>latestgram</h2>

<% if @id.nil? then %>
<a href="http://localhost:4567/signup">Sign Up</a>
<a href="http://localhost:4567/login">Login</a>
<% else %>
<a href="http://localhost:4567/upload">Upload</a>
<% end %>

<p><%= flash[:notice] %></p>

<% if !@id.nil? then%>
<p>ようこそ <%= @name %> さん</p>
<% end %>

<hr />
<% @results.each do |row| %> 
	<p>投稿者名: <%= row['name'] %> </p>
	<p>投稿日時: <%= row['created_at'] %> </p>
	<p><img src="http://localhost:4567/image/<%=row['user_id']%>/<%= row['image'] %>" width="400" ></p>
	<p>いいね <%= row['good'] %> </p>
	<p><%= row['contents'] %> </p>
	
	<hr />

	<p>この画像に対するコメント</p>
	<% @comments[row['id']].each do |c|%>

		<p>投稿者ID: <%= c['name'] %> </p>
		<p>投稿日時: <%= c['created_at'] %> </p>
		<p><%= c['contents'] %></p>

	<% end %>

	<p><a href="http://localhost:4567/comment/<%= row['id']%>">コメントページへ移動する</a></p>

	<hr />
	<hr />
<% end %>

